.about-island {
  position: absolute;
  top: 50px;
  left: 50px;
  img {
    position: absolute;
  }
  div {
    position: absolute;
  }
}

#bulb {
  top: 313px;
  left: 251px;
  width: 118px;
  height: 124px;
  background-image: url('img/Bulb.png');
}

#bulb:hover {
  background-image: url('img/Bulb_hover.png');
  width: 127px;
  height: 178px;
  top: 259px;
  left: 248px;
}

#bulb-hover {
  top: 259px;
  left: 248px;
  display: none;
}

#company {
  top: 65px;
  left: 162px;
}

#company-hover {
  display: none;
}

#ourstory {
  top: 249px;
  left: 42px;
}

#ourstory-hover {
  display: none;
}

#team {
}

#team-hover {
  display: none;
}

#advisors {
  top: 290px;
  left: 122px;
}

#contactus {
  top: 382px;
  left: 0px;
}

#contactus-hover {
  display: none;
}
