.about-island {
  position: absolute;
  top: 100px;
  left:100px;
  img {
    position: absolute;
  }
  div {
    position: absolute;
  }
}

#bulb {
  background-image: url('img/Bulb.png');
  background-repeat: no-repeat;
  top: 313px;
  left: 251px;
  width: 118px;
  height: 124px;
}

#bulb:hover {
  background-image: url('img/Bulb_hover.png');
  background-repeat: no-repeat;
  top: 259px;
  left: 248px;
  width: 127px;
  height: 178px;
}

#company {
  background-image: url('img/Company.png');
  top: 65px;
  left: 161px;
  width: 361px;
  height: 366px;
  transition: all .25s ease-in-out;
}

#company:hover {
  background-image: url('img/Company_hover.png');
  top: 50px;
  left: 161px;
  width: 361px;
  height: 366px;
}

#ourstory {
  background-image: url('img/OurStory.png');
  top: 249px;
  left: 42px;
  width: 201px;
  height: 181px;
}

#ourstory:hover {
  background-image: url('img/OurStory_hover.png');
  top: 238px;
  left: 28px;
  width: 217px;
  height: 193px;
}

#team {
  background-image: url('img/Team.png');
  top: 0;
  left: 0;
  width: 482px;
  height: 361px;
  transition-delay: .25s;
  // TODO: find better transitions. ADD DELAYS???
  // transition: all .25s ease-in-out;
}

#team:hover {
  background-image: url('img/Team_hover.png');
  top: -35px;
  left: 0;
  width: 323px;
  height: 395px;
}

#advisors {
  top: 290px;
  left: 122px;
}

#contactus {
  background-image: url('img/ContactUs.png');
  width: 241px;
  height: 117px;
  top: 382px;
  left: 0px;
  transition: all .25s ease-in-out;
  // TODO: the pencil looks weird here...
}


#contactus:hover {
  background-image: url('img/ContactUs_hover.png');
  width: 257px;
  height: 128px;
  top: 382px;
  left: -17px;

}
