#about-island {
  @extend .islands;
  top: 0;
  left: 0;
  div {
    cursor: pointer;
  }
}
#about-block {
  top: 14px;
  &::before {
    content: url('img/About.png');
    width:0;
    height:0;
    visibility: hidden;
  }
}
.figures {
  top: 0;
  left: 150px;
  transition: top .25s ease-in-out;
  &::before {
    content: url('img/Team_figures.png');
    width:0;
    height:0;
    visibility: hidden;
  }
  &::after {
    content: url('img/figures_mobile.png');
    width:0;
    height:0;
    visibility: hidden;
  }
}
.figures-hover {
  top: -80px;
  // border-bottom: 50px solid transparent;
}
.shadows {
  top: 56px;
  left: 152px;
  opacity: 0;
  transition: all .25s ease-in-out;
  &::before {
    content: url('img/Shadows.png');
    width:0;
    height:0;
    visibility: hidden;
  }
}
.shadows-hover {
  top: 0;
  opacity: 1;
}
.team {
  top: 14px;
  left: 0;
  transition: top .25s ease-in-out;
  &::before {
    content: url('img/Team_hover.png');
    width:0;
    height:0;
    visibility: hidden;
  }
}
.team-hover {
  top: -31px;
  left: 0;
}

.team-title {
  height: 30px;
  transform: skewY(30deg);
  color: #c39f8e;
  font-size: 30px;
  top: 205px;
  left: 65px;
  transition: top .25s ease-in-out;
}
.team-title-hover {
  top: 160px;
  height: 200px;
}

.company-title {
  height: 17px;
  transform: skewY(-30deg);
  color: #ebcda3;
  font-size: 17px;
  top: 205px;
  left: 375px;
  transition: top .25s ease-in-out;
}
.company-title-hover {
  top: 188px;
  height: 70px;
}
.company-penguin {
  top: 105px;
  left: 373px;
  transition: top .25s ease-in-out;
  &::before {
    content: url('img/Company_penguin.png');
    width:0;
    height:0;
    visibility: hidden;
  }
}
.company-penguin-hover {
  top: 75px;
  border-bottom: 30px solid transparent;
}

.story-title {
  transform: skewY(-30deg);
  color: white;
  font-size: 17px;
  top: 272px;
  left: 81px;
  border-bottom: 40px solid transparent;
  transition: all .25s ease-in-out;
}
.story-title-hover {
  top: 264px;
  left: 65px;
}
.advisors-title {
  transform: skewY(-30deg);
  color: #111111;
  font-size: 9px;
  top: 398px;
  left: 319px;
}
.contact-title {
  transform: skewY(30deg);
  color: #c39f8e;
  font-size: 11px;
  top: 457px;
  left: 10px;
  transition: all .25s ease-in-out;
}
.contact-title-hover {
  top: 472px;
  left: -15px;
}


.advisor-block {
  cursor: pointer;
  top: 333px;
  left: 251px;
  width: 118px;
  height: 103px;
  &::before {
    content: url('img/Advisor_block.png');
    width:0;
    height:0;
    visibility: hidden;
  }
}
.advisor-block-hover {
  top: 328px;
  border-bottom: 30px solid transparent;
}
.bulb {
  background-image: url('img/Bulb.png');
  top: 313px;
  left: 294px;
  width: 35px;
  height: 60px;
  &::before {
    content: url('img/Bulb_hover.png');
    width:0;
    height:0;
    visibility: hidden;
  }
}
.bulb-hover {
  background-image: url('img/Bulb_hover.png');
  top: 259px;
  left: 248px;
  width: 127px;
  height: 137px;
}

.company {
  top: 65px;
  left: 161px;
  transition: all .25s ease-in-out;
  &::before {
    content: url('img/Company.png');
    width:0;
    height:0;
    visibility: hidden;
  }
}
.company-hover {
  top: 50px;
}

.ourstory {
  cursor: pointer;
  top: 289px;
  left: 40px;
  transition: all .25s ease-in-out;
  &::before {
    content: url('img/OurStory.png');
    width:0;
    height:0;
    visibility: hidden;
  }
}
.ourstory-hover {
  top: 281px;
  left: 25px;
}
.book {
  cursor: pointer;
  top: 286px;
  left: 72px;
  transition: all .25s ease-in-out;
  &::before {
    content: url('img/Book.png');
    width:0;
    height:0;
    visibility: hidden;
  }
}
.book-hover {
  top: 278px;
  left: 55px;
}

#advisors {
  top: 290px;
  left: 122px;
}

.contactus {
  top: 368px;
  left: 0;
  transition: all .25s ease-in-out;
  &::before {
    content: url('img/ContactUs.png');
    width:0;
    height:0;
    visibility: hidden;
  }
}
.contactus-hover {
  top: 383px;
  left: -25px;
}

.letter {
  cursor: pointer;
  top: 401px;
  left: 25px;
  transition: all .25s ease-in-out;
}
.letter-hover {
  top: 410px;
  left: 0;
}
