@font-face {
  font-family: 'EightBitWonder';
  src: url('fonts/8-BIT_WONDER.ttf')
       format('truetype');
}

@font-face {
  font-family: '04b_03';
  src: url('fonts/04b_03.ttf')
       format('truetype');
}
