#info-island {
  @extend .islands;
  top: 800px;
  left: 200px;
}

#market-block {
  top: 183px;
  left: 40px;
}

#market {
  background-image: url('img/Market_default.png');
  top: 161px;
  left: 67px;
  width: 173px;
  height: 242px;
}

#market:hover {
  background-image: url('img/Market_hover.png');
  top: 147px;
  left: 63px;
  width: 177px;
  height: 255px;
}

#tokens {
  background-image: url('img/Tokens.png');
  top: -147px;
  left: 122px;
  width: 280px;
  height: 401px;
  transition: top .25s ease-in-out;
}

#tokens:hover {
  top: -187px;
}

#whitepaper {
  background-image: url('img/Whitepaper.png');
  top: 159px;
  left: 272px;
  width: 281px;
  height: 169px;
}

#whitepaper:hover {
  background-image: url('img/Whitepaper_hover.png');
  top: 152px;
  left: 270px;
  width: 293px;
  height: 182px;
}
