#info-island {
  @extend .islands;
  top: 800px;
  left: 300px;
}

#market-block {
  position: absolute;
  top: 190px;
  left: -80px;
}

#market {
  background-image: url('img/Market_default.png');
  background-repeat: no-repeat;
  position: absolute;
  top: 164px;
  left: -53px;
  width: 173px;
  height: 242px;
}

#market:hover {
  background-image: url('img/Market_hover.png');
  top: 156px;
  left: -57px;
  width: 177px;
  height: 255px;
}

#token-block {

}

#tokens {
  background-image: url('img/Tokens.png');
  top: -147px;
  left: 0px;
  width: 280px;
  height: 401px;
  transition: top .25s ease-in-out;
}

#tokens:hover {
  top: -187px;
}
