#info-island {
  @extend .islands;
  top: 961px;
  left: 187px;
  div {
    cursor: pointer;
  }
}

#market-block {
  top: 183px;
  left: 40px;
}

#market {
  background-image: url('img/Market_default.png');
  top: 161px;
  left: 67px;
  width: 173px;
  height: 242px;
  &:hover {
    background-image: url('img/Market_hover.png');
    top: 147px;
    left: 63px;
    width: 177px;
    height: 255px;
  }
  &::before {
    content: url('img/Market_hover.png');
    width:0;
    height:0;
    visibility: hidden;
  }
}

#tokens {
  background-image: url('img/Tokens.png');
  top: -147px;
  left: 122px;
  width: 280px;
  height: 401px;
  transition: top .25s ease-in-out;
  &:hover {
    top: -187px;
  }
}

#whitepaper {
  background-image: url('img/Whitepaper.png');
  top: 159px;
  left: 272px;
  width: 281px;
  height: 169px;
  &:hover {
    background-image: url('img/Whitepaper_hover.png');
    top: 152px;
    left: 270px;
    width: 293px;
    height: 182px;
  }
  &::before {
    content: url('img/Whitepaper_hover.png');
    width:0;
    height:0;
    visibility: hidden;
  }
}
