#landing-island {
  @extend .islands;
  top: 101px;
  left: 859px;
  div {
    cursor: pointer;
  }
}

#notify-btn {
  background-image: url('img/NotifyBtn_Default.png');
  top: 347px;
  left: 57px;
  width: 92px;
  height: 120px;
  &:hover {
    background-image: url('img/NotifyBtn_Hover.png');
    top: 347px;
    left: 57px;
    width: 97px;
    height: 123px;
  }
  &::before {
    content: url('img/NotifyBtn_Hover.png');
    width:0;
    height:0;
    visibility: hidden;
  }
}

#go-btn {
  background-image: url('img/GoBtn_Default.png');
  top: 275px;
  left: 424px;
  width: 82px;
  height: 50px;
  &:hover {
    background-image: url('img/GoBtn_Hover.png');
    top: 266px;
    left: 424px;
    width: 82px;
    height: 59px;
  }
  &::before {
    content: url('img/GoBtn_Hover.png');
    width:0;
    height:0;
    visibility: hidden;
  }
}

.info-panel {
  background-image: url('img/Info.png');
  top: 295px;
  left: 244px;
  width: 195px;
  height: 284px;
  &::before {
    content: url('img/Info_hover.png');
    width:0;
    height:0;
    visibility: hidden;
  }
}
.info-clicked {
  background-image: url('img/Info_hover.png');
  top: 317px;
  left: 200px;
  width: 228px;
  height: 392px;
  z-index: 1;
}


.countdown-sign {
  font-family: '04b_03', monospace;
  transform: skewY(-30deg);
  width: 110px;
  height: 160px;
  top: 123px;
  left: 59px;
  text-align: center;
  text-transform: uppercase;
  padding: 5px;
  p {
    font-size: 10px;
  }
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.time-block {
  margin: 0;
  width: 50%;
  text-align: center;
  color: #181818;
  h1 {
    margin: 0;
    font-size: 20px;
  }
  p {
    margin: 0;
    text-align: center;
    font-size: 10px;
  }
}

.savings-sign {
  font-family: '04b_03', monospace;
  transform: skewY(30deg);
  width: 185px;
  height: 70px;
  text-align: center;
  text-transform: uppercase;
  top: 63px;
  left: 358px;
  padding: 10px;
  color: #181818;
  p {
    font-size: 10px;
  }
  h1 {
    margin: 0;
    font-size: 26px;
  }
}

#participate {
  top: 230px;
  left: 336px;
  height: 77px;
  width: 131px;
}
