#landing-island {
  @extend .islands;
  top: 101px;
  left: 859px;
  div {
    cursor: pointer;
  }
}

#notify-btn {
  background-image: url('img/NotifyBtn_Default.png');
  top: 347px;
  left: 57px;
  width: 92px;
  height: 120px;
  transition-delay: 10ms;
  &:hover {
    background-image: url('img/NotifyBtn_Hover.png');
    top: 347px;
    left: 57px;
    width: 97px;
    height: 123px;
  }
}

#go-btn {
  background-image: url('img/GoBtn_Default.png');
  top: 275px;
  left: 424px;
  width: 82px;
  height: 50px;
  transition-delay: 10ms;
  &:hover {
    background-image: url('img/GoBtn_Hover.png');
    top: 266px;
    left: 424px;
    width: 82px;
    height: 59px;
  }
}

.info-panel {
  background-image: url('img/Info.png');
  top: 295px;
  left: 244px;
  width: 195px;
  height: 284px;
}
.info-clicked {
  background-image: url('img/Info_hover.png');
  top: 317px;
  left: 200px;
  width: 228px;
  height: 392px;
}
