// @media screen and (max-height: 700px) {
//   .popup {
//     transform: scale(.6);
//  }
// }

@media screen and (max-width: 600px) {
  #landing-island {
    #info-stairs {
      display: none;
    }
    #end-connector{
      display: none;
    }
    #stairs-end {
      display: none;
    }
    #stairs-mid {
      display: none;
    }
    #stairs-top {
      display: none;
    }
    #stairs-top-2 {
      display: none;
    }
  }

}
