@media only screen and (max-width: 600px) {

  .mobile-hide {
    display: none;
  }

  .mobile-show {
    display: block;
  }

  #loader {
    top: 30%;
    left: 200px;
  }

  .announcement-cloud-mobile {
    height: 200px;
    img {
      width: 400px;
      top: 130px;
      position: absolute;
      left: 0px;
    }
    .announcement-cloud-text {
      top: 200px;
      left: 45px;
    }
  }

  #landing-island {
    top: -160px;
    left: -10px;
    background-image: url('img/Landing_Mobile.png');
    width: 350px;
    height: 800px;
    background-repeat: no-repeat;
    background-size: contain;

    .countdown-sign {
      width: 110px;
      height: 160px;
      top: 32px;
      left: 16px;
    }
    #notify-btn {
      top: 227px;
      left: 52px;
    }
    .info-panel {
      top: 354px;
      left: 5px;
    }
    .info-clicked {
      background-image: url('img/Info_Click_Mobile.png');
      background-color: white;
      width: 280px;
      height: 420px;
      background-size: contain;
      border: 20px solid white;
      top: 300px;
      left: 0;
    }
    .savings-sign {
      top: 150px;
      left: 155px;
    }
    #go-btn {
      top: 338px;
      left: 173px;
    }
    .social-media-wrapper {
      top: 415px;
      left: 173PX;
    }
  }

  #about-island {
    background-image: url('img/About_Mobile.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 400px;
    height: 1500px;
    top: -200px;
    right: 0;

    .team-title {
      top: 319px;
    }
    .figures {
      top: 72px;
      left: 0;
    }
    .figures-mobile {
      top: 222px;
      left: 100px;
      height: 85px;
    }
    .company-title {
      top: 155px;
      left: 265px;
    }
    .company-penguin {
      top: 50px;
      left: 260px;
    }
    .story-title {
      transform: rotate(-30deg) skew(30deg);
      text-shadow: -2px -1px 0 #84bf4f;
      top: 407px;
      left: 120px;
      font-size: 19px;
      border-bottom: none;
    }
    .advisors-title {
      top: 317px;
    }
    .contact-title {
      font-size: 17px;
      top: 517px;
      left: 160px;
    }
    .advisor-block {
      top: 239px;
      left: 235px;
    }
    .advisors-title {
      transform: skewY(30deg);
      top: 304px;
      left: 243px;
    }
    .bulb-mobile {
      top: 214px;
      left: 275px;
      height: 65px;
    }
    .book-mobile {
      top: 342px;
      left: 15px;
      height: 80px;
    }
    .letter {
      top: 451px;
      left: 211px;
      height: 75px;
    }
  }

  #info-island {
    height: 800px;
    top: -900px;
    left: -50px;
  }

  #strategy-island {
    height: 800px;
    top: -900px;
    left: -50px;
  }

  .awards-cloud {
    left: 55vw;
  }

  .popup-wrapper, .scale-pop, .popup-wrapper-short {
    transform: translate(0,0) scale(1);
    top: 100px;
    left: 2vw;
    .popup-outer-wrapper {
      width: 96vw;
      min-width: 80vw;
      max-width: 96vw;
      .modal-header {
        height: 80px;
        #close-x {
          top: 5px;
          right: 15px;
          height: 20px;
        }
        h1 {
          font-size: 26px;
        }
      }
    }
  }

  #faq-popup {
    .modal-header {
      h1 {
        font-size: 16px;
        width: 12em;
        margin: auto;
      }
    }
  }

  #notify-popup {
    .modal-body {
      .input-wrapper {
        width: 100%;
        margin: 10% auto;
        .pixel-input: {
          height: 40px;
        }
      }
      .continue-btn {
        input[type='submit'] {
          font-size: 30px;
        }
      }
    }
  }

  #team-popup,
  #advisors-popup {
    min-width: 700px;
  }

  #distribution-popup,
  #why-now-popup,
  #tokens-popup {
    min-width: 900px;
  }

  #contactus-popup {
    .modal-body {
      p {
        font-size: 18px;
      }
      .chat-btn {
        width: 100%;
        margin: 10% auto;
        font-size: 30px;
      }
      a h2 {
        font-size: 26px;
      }
    }
  }

  #ourstory-popup {
    .dates-row li {
      font-size: 18px;
    }
  }

  #problem-solution-popup {
    .modal-body {
      #problem-title  {
        span {
          top: -15px;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      #solution-title {
        span {
          bottom: -45px;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

    #projections-popup {
      .modal-body {
        img {
          width: 80vw;
        }
      }
    }

    #signup-popup {
      #signup-button-crypto,
      #signup-button-fiat {
        margin: 5% auto;
        width: 100%;
        height: 100px;
        a {
          min-height: 0;
          margin: 0;
          padding: 0;
        }
        img {
          min-height: 30px;
          height: 45px;
          margin: 5px;
        }
      }
    }

    .currency-form {
      margin: auto;
      width: 100%;
      .selector-buttons {
        width: 100%;
        margin: auto;
      }
      .currency-amt {
        width: 100%;
        margin: auto;
      }
      .continue-btn {
        margin: 15% auto;
        width: 100%;
      }
    }

    .progress-bar {
      opacity: 0;
      margin: 0;
    }
    .back-btn {
      bottom: 20px;
      left: 10px;
    }

    #signup-form {
      .input-wrapper {
        width: 100%;
        margin: 5% auto;
      }
    }

    .consent-boxes {
      width: 100%;
      margin: auto;
    }
#kyc-popup .modal-footer .button-wrapper, #aml-popup .modal-footer .button-wrapper {
  width: 100%;
  margin: 5% auto 10% auto;
}

  #investor-popup {
    #investor-button-private,
    #investor-button-company {
      margin: 5% auto;
      width: 100%;
      height: auto;
      a {
        min-height: 0;
        margin: 0;
        padding: 0;
      }
    }
  }

  #personal-data-form {
    .upload-ready p {
      font-size: 12px;
    }
    .input-wrapper {
      width: 100%;
      margin: 5% auto;
    }
    .upload-blocks {
      width: 100%;
    }
    .upload-text {
      font-size: 10px;
      width: 40%;
      margin: 5%;

    }
  }
}
