
.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid black;
}

#close-x {
  position: absolute;
  top: 20px;
  right: 30px;
}
.modal-header {
  h1 {
    font-family: 'EightBitWonder', monospace;
    color: white;
    text-align: center;
  }
  padding: 20px;
  background-color: #5f8db0;
  border-top: 10px solid #8ac0d4;
  margin-left: -10px;
  margin-right: -10px;
}
.modal-body {
  background-color: white;
  margin: 0;
  padding: 20px;
}

.modal-footer {
  font-family: '04b_03', monospace;
  margin: 0;
  background-color: #e0e0e0;
  padding: 20px;
  margin-left: -10px;
  margin-right: -10px;
  h6, p {
    margin: 0;
  }
  border-bottom: 10px solid #b5b5b5;
}

.popup-outer-wrapper{
  margin: 30px;
  width: 700px;
  height: auto;
  float: left;
  border-left: 10px solid black;
  border-right: 10px solid black;
  position: relative;
  box-sizing: border-box;
  background-color: white;
}

.popup-outer-wrapper .popup-inner-wrapper{
  background-color: white;
  display: block;
  color: black;
  margin: -20px 10px;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
}

.popup-outer-wrapper::before,
.popup-outer-wrapper::after,
.popup-outer-wrapper .popup-inner-wrapper::before,
.popup-outer-wrapper .popup-inner-wrapper::after {
  content: '';
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  background: black;
}
.popup-outer-wrapper::before {
  top: -10px; left: 0px;
  border-bottom: 10px solid #8ac0d4;
}
.popup-outer-wrapper::after {
   top: -10px; right: 0px;
   border-bottom: 10px solid #8ac0d4;
 }
.popup-outer-wrapper .popup-inner-wrapper::before {
  bottom: -10px; left: 0px;
  border-top: 10px solid #b5b5b5;
}
.popup-outer-wrapper .popup-inner-wrapper::after {
  bottom: -10px; right: 0px;
  border-top: 10px solid #b5b5b5;
}
