.hide {
  display: none;
}

.avatar {
  // TODO: Make avatar sizing responsive.
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 5px solid transparent;
  box-sizing: border-box;
  margin: 15px 30px;
  padding: 2px;
}

.avatar-row {
  text-align: center;
}

.dates-row {
  a {
    display: inline;
    text-decoration: none;
    margin: 20px;
  }
  a:active, a:focus {
    color: black;
  }
// TODO: CHANGE THIS FOR INACTIVE LINK COLOR, NOT VISITED
  a:visited {
    color: #bbaea7;
  }
}

.advisor, .team-member {
  display: inline-block;
  h5 {
    font-family: '04b_03', monospace;
    margin: 0 0 15px 0;
  }
}

.avatar:hover {
  // TODO: Variable to match header or footer color?
  border: 5px solid #5f8db0;
}

#close-x {
  position: absolute;
  top: 20px;
  right: 30px;
}

#advisors-header {
  background-color: #5f8db0;
  border-top: 10px solid #8ac0d4;
}
#team-header {
  background-color: #24b5cc;
  border-top: 10px solid #34d6e3;
}

#company-header {
  background-color: #c5816c;
  border-top: 10px solid #dfba9d;
  h1 {
    color: #dfba9d;
  }
}

#ourstory-header {
  background-color: #bbaea7;
  border-top: 10px solid #dad3cf;
}
.modal-header {
  h1 {
    font-family: 'EightBitWonder', monospace;
    color: white;
    text-align: center;
  }
  padding: 20px;
  // INCLUDE BG COLOR AND BORER-TOP COLOR IN ID SECTION
  margin-left: -10px;
  margin-right: -10px;
  height: 100px;
}


#company-body, #ourstory-body, #contactus-body {
  text-transform: uppercase;
  border: none;
  h3, nav {
    text-align: center;
  }
}

.year-summary {
  p {
    color: #49423f;
  }
}

.input-wrapper {
  border-left: 5px solid black;
  border-right: 5px solid black;
  float: left;
  box-sizing: border-box;
  background-color: white;
  position: relative;
}

.pixel-input {
  padding: 15px 10px;
  input {
    border: none;
    height: 30px;
  }
  input::placeholder {
    font-family: '04b_03', monospace;
    color: #b5b5b5;
    font-size: 14px;
  }
}

.input-wrapper .pixel-input {
  background-color: white;
  display: block;
  color: black;
  margin: -10px 5px;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

.input-wrapper::before,
.input-wrapper::after,
.input-wrapper .pixel-input::before,
.input-wrapper .pixel-input::after {
  content: '';
  width: 5px;
  height: 5px;
  display: block;
  position: absolute;
  background: black;
}

.input-wrapper::before {
  top: -5px; left: 0px;
}
.input-wrapper::after {
   top: -5px; right: 0px;
 }

.input-wrapper .pixel-input::before {
   bottom: -5px; left: 0px;
 }

 .input-wrapper .pixel-input::after {
   bottom: -5px; right: 0px;
 }

.modal-body {
  font-family: '04b_03', monospace;
  background-color: white;
  margin: 0;
  padding: 20px;
  border-bottom: 10px solid #b5b5b5;
  margin-bottom: 10px;
  margin-left: -10px;
  margin-right: -10px;
  // height: 250px;
}

.modal-footer {
  font-family: '04b_03', monospace;
  margin: 0;
  background-color: white;
  // TODO: ^^^Can this be white & make the info text have the full width/height bg color?
  // TODO: also - HOW TO DO SPLIT COLOR [ a || b ]
  // padding: 20px;

  height: 200px;
  border-bottom: 10px solid #b5b5b5;
  // TODO: Use darken/lighten for bottom border shadow? Browser compatibility?
}

.more-info-text {
  background-color: #e0e0e0;
  padding: 20px;


  h3, p {
    margin: 10px;
  }
  margin: -10px;
  height: 160px;

}

.popup-outer-wrapper{
  margin: 5% 35%;
  min-width: 700px;
  width: 30%;
  height: auto;
  float: left;
  border-left: 10px solid black;
  border-right: 10px solid black;
  position: relative;
  box-sizing: border-box;
  background-color: white;
}

.popup-outer-wrapper .popup-inner-wrapper {
  background-color: white;
  display: block;
  color: black;
  margin: -20px 10px;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
}

.popup-outer-wrapper::before,
.popup-outer-wrapper::after,
.popup-outer-wrapper .popup-inner-wrapper::before,
.popup-outer-wrapper .popup-inner-wrapper::after {
  content: '';
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  background: black;
}


#advisors-popup::before, #advisors-popup::after {
  border-bottom: 10px solid #8ac0d4;
}
#team-popup::before, #team-popup::after {
  border-bottom: 10px solid #34d6e3;
}

#company-popup::before, #company-popup::after {
  border-bottom: 10px solid #dfba9d;
}

.popup-outer-wrapper::before {
  top: -10px; left: 0px;
}
.popup-outer-wrapper::after {
   top: -10px; right: 0px;
 }

.popup-outer-wrapper .popup-inner-wrapper::before {
  bottom: -10px; left: 0px;
  border-top: 10px solid #b5b5b5;
}
.popup-outer-wrapper .popup-inner-wrapper::after {
  bottom: -10px; right: 0px;
  border-top: 10px solid #b5b5b5;
}
