.hide {
  display: none;
}

.blur {
  filter: blur(5px);
}

//************************************

.popup-outer-wrapper{
  position: relative;
  // position: fixed;
  // top: 5%;
  // left: 5%;
  margin: 5% auto; // TODO: CHANGE THIS
  min-width: 700px;
  width: 40%; // TODO: CHANGE THIS
  // height: 90vh;
  height: auto;
  float: left;
  border-left: 10px solid black;
  border-right: 10px solid black;
  box-sizing: border-box;
  background-color: white;
  &::before {
    @extend .corner-blocks;
    top: -10px; left: 0px;
  }
  &::after {
    @extend .corner-blocks;
    top: -10px; right: 0px;
  }
  .popup-inner-wrapper {
    // height: inherit;
    background-color: white;
    display: block;
    color: black;
    margin: -20px 10px;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    &::before {
      @extend .corner-blocks;
      bottom: -10px; left: 0px;
      border-top: 10px solid #b5b5b5;
    }
    &::after {
      @extend .corner-blocks;
      bottom: -10px; right: 0px;
      border-top: 10px solid #b5b5b5;
    }
  }
}

.corner-blocks {
  content: '';
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  background: black;
}

#advisors-popup::before, #advisors-popup::after {
  border-bottom: 10px solid #8ac0d4;
}
#team-popup::before, #team-popup::after {
  border-bottom: 10px solid #34d6e3;
}
#contactus-popup::before, #contactus-popup::after {
  border-bottom: 10px solid #c4e880;
}
#company-popup::before, #company-popup::after {
  border-bottom: 10px solid #dfba9d;
}
#notify-popup::before, #notify-popup::after {
  border-bottom: 10px solid #a0dcd4;
}
#tokens-popup::before, #tokens-popup::after {
  border-bottom: 10px solid #f8d181;
}
#tokens-popup.popup-outer-wrapper .popup-inner-wrapper::before {
  border-top: 10px solid #b75554;
}
#tokens-popup.popup-outer-wrapper .popup-inner-wrapper::after {
  border-top: 10px solid #1b8899;
}

#market-popup::before, #market-popup::after {
  border-bottom: 10px solid #c8e8c1; //check for alt color
}

#distribution-popup::before, #distribution-popup::after {
  border-bottom: 10px solid #edd191;
}

#projections-popup::before,
#projections-popup::after {
  border-bottom: 10px solid #68abba;
}

#roadmap-popup::before, #roadmap-popup::after {
  border-bottom: 10px solid #4e6b7b;
}

#roadmap-popup.popup-outer-wrapper .popup-inner-wrapper::before,
#roadmap-popup.popup-outer-wrapper .popup-inner-wrapper::after {
    border-top: 10px solid #0b72a2;
  }

#why-now-popup::before, #why-now-popup::after {
  border-bottom: 10px solid #d4dddf;
}
#why-now-popup.popup-outer-wrapper .popup-inner-wrapper::before {
  border-top: 10px solid #6e959f;
}

.wide-pop {
  min-width: 900px;
  text-align: center;
}

//************************************

.input-wrapper {
  border-left: 5px solid black;
  border-right: 5px solid black;
  float: left;
  box-sizing: border-box;
  background-color: white;
  position: relative;
  &::before {
    @extend .mini-blocks;
    top: -5px; left: 0px;
  }
  &::after {
    @extend .mini-blocks;
    top: -5px; right: 0px;
  }
  .pixel-input {
    background-color: white;
    display: block;
    color: black;
    margin: -10px 5px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    &::before {
      @extend .mini-blocks;
      bottom: -5px; left: 0px;
    }
    &::after {
      @extend .mini-blocks;
      bottom: -5px; right: 0px;
    }
  }
}

.pixel-input {
  input {
    font-family: '04b_03', monospace;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    height: 30px;
    width: 100%;
  }
  textarea {
    font-family: '04b_03', monospace;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    width: 455px;
    height: 200px;
  }
  input::placeholder, textarea::placeholder {
    font-family: '04b_03', monospace;
    color: #b5b5b5;
    font-size: 14px;
  }
}

.mini-blocks {
  content: '';
  width: 5px;
  height: 5px;
  display: block;
  position: absolute;
  background: black;
}

 //************************************

.modal-header {
  h1 {
    // INCLUDE BG COLOR AND BORER-TOP COLOR IN ID SECTION
    font-family: 'EightBitWonder', monospace;
    color: white;
    text-align: center;
    font-size: 34px;
  }
  padding: 20px;
  margin-left: -10px;
  margin-right: -10px;
  height: 100px;
}

#close-x {
  position: absolute;
  top: 20px;
  right: 30px;
}

#advisors-header {
  background-color: #5f8db0;
  border-top: 10px solid #8ac0d4;
}

#team-header {
  background-color: #24b5cc;
  border-top: 10px solid #34d6e3;
}

#company-header {
  background-color: #c5816c;
  border-top: 10px solid #dfba9d;
  h1 {
    color: #dfba9d;
  }
}

#ourstory-header {
  background-color: #bbaea7;
  border-top: 10px solid #dad3cf;
}

#contactus-header {
  background-color: #93d558;
  border-top: 10px solid #c4e880;
}

#notify-header {
  background-color: #6ebfb1;
  border-top: 10px solid #a0dcd4;
}

#tokens-header {
  background-color: #f2ac59;
  border-top: 10px solid #f8d181;
}

#market-header {
  background-color: #a5d19b;
  border-top: 10px solid #c8e8c1; //check for alt color
}

#problem-solution-header {
padding: 0;
height: 50px;
}

#distribution-header {
  background-color: #dfac64;
  border-top: 10px solid #edd191;
}

#projections-header {
  background-color: #487681;
  border-top: 10px solid #68abba;
}

#roadmap-header {
  background-color: #364a55;
  border-top: 10px solid #4e6b7b;
}

#why-now-header {
  background-color: #b0c1c5;
  border-top: 10px solid #d4dddf;
}

#team-body, #advisors-body {
  border-bottom: 10px solid #b5b5b5;
  margin-bottom: 10px;
  margin-left: -10px;
  margin-right: -10px;
}

#market-body {
  text-align: center;
  img {
    margin: 5%;
  }
  p {
    font-size: 14px;
    margin: 5px;
    line-height: 20px;
  }
  h3 {
    font-size: 22px;
    margin: 0 0 3% 0;;
  }
}

#company-body img {
  margin: 0 5%;
  width: 90%;
}

#ourstory-body p {
  color: #49423f;
}

#contactus-body {
  height: 300px;
  .input-wrapper {
    margin: 3% 10%;
  }
  input {
    padding: 10px;
    width: auto;
  }
}

#notify-body {
  width: 80%;
  margin: auto;
  .input-wrapper {
    background-color: #f2f2f2;
    width: 60%;
    margin: 5% 20%;
    .pixel-input {
      background-color: inherit;
      padding: 10px;
    }
    input {
      background-color: inherit;
      width: 100%;
      text-align: center;
      font-size: 20px;
    }
    input::placeholder {
      font-family: 'EightBitWonder', monospace;
      font-size: 15px;
      text-align: center;
    }
  }
}

#problem-solution-body {
  height: auto;
  text-align: center;
  h1{
    font-family: 'EightBitWonder', monospace;
    color: white;
    font-size: 22px;
    padding: 35px;
    margin: 0 -30px;
    position: relative;
  }
  #problem-title {
    background-color: #c82e3d;
    margin-top: 10%;
    span {
      border: 15px solid transparent;
      border-bottom: 15px solid #c82e3d;
      position: absolute;
      top: -30px;
      left: 420px;
    }
  }
  #solution-title {
    background-color: #89cf79;
    margin-bottom: 10%;
    span {
      border: 15px solid transparent;
      border-top: 15px solid #89cf79;
      position: absolute;
      bottom: -30px;
      left: 420px;
    }
  }
}

#distribution-body {
  padding-top: 0;
  h2 {
    margin-top: 10%;
  }
}

#projections-body p {
  margin: 5%;
}

#roadmap-body {
  padding: 8% 5%;
}

.red-btn {
  width: 40%;
  display: inline-block;
  background-color: #ef5e5e;
  .pixel-input {
    background-color: #ef5e5e;
    padding: 0px;
  }
  a, input, input:active, input:focus {
    cursor: pointer;
    box-sizing: border-box;
    font-family: '04b_03', monospace;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    color: white;
    border-top: 5px solid #f68888;
    display: block;
    padding: 30px 10px;
    background-color: inherit;
  }
  h3 {
    margin: 10px;
  }
  img {
    min-height: 61px;
  }
  &::before, &::after {
    border-bottom: 5px solid #f68888;
  }
}

.blue-btn {
  width: 70%;
  margin: 5% 15%;
  display: inline-block;
  background-color: #9ac4bf;
  .pixel-input {
    background-color: #9ac4bf;
    padding: 0px;
  }
  a {
    box-sizing: border-box;
    font-family: 'EightBitWonder', monospace;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: white;
    border-top: 5px solid #c8dfdc;
    display: block;
    padding: 15px;
  }
  &::before, &::after {
    border-bottom: 5px solid #c8dfdc;
  }
}

#send-btn {
  @extend .red-btn;
  // TODO: ADJUST SEND-BTN SIZING
}


//************************************

.modal-body {
  font-family: '04b_03', monospace;
  background-color: white;
  margin: 0;
  padding: 20px;
  text-transform: uppercase;
  form {
    min-height: 100px;
  }
  // TODO: DOUBLE CHECK WHAT NEEDS CENTERED VS LEFT
  h2, h3, nav {
    text-align: center;
  }
  // height: 250px;
}

.avatar {
  // TODO: Make avatar sizing responsive.
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 5px solid transparent;
  box-sizing: border-box;
  padding: 2px;
  flex: 1;}

.avatar-row {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dates-row {
  a {
    display: inline;
    text-decoration: none;
    margin: 20px;
  }
  a:active, a:focus {
    color: black;
  }
// TODO: CHANGE THIS FOR INACTIVE LINK COLOR, NOT VISITED
  a:visited {
    color: #bbaea7;
  }
}

.advisor, .team-member {
  display: inline-block;
  h5 {
    font-family: '04b_03', monospace;
    margin: 0 0 15px 0;
  }
}

.avatar:hover {
  // TODO: Variable to match header or footer color?
  border: 5px solid #5f8db0;
}

.node-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  img {
    height: 15px;
    width: 33px;
    margin-bottom: 20px;
  }
}

.node-wrapper {
  display: flex;
  width: 90px;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h4 {
    min-height: 2em;
    margin: 0 0 0 6px;
  }
}

.roadmap-node {
  height: 90px;
  width: 90px;
  border: 3px solid transparent;
  border-radius: 50%;
  &:hover {
    border-color: #0e96d5;
  }
}
.inner-node {
  text-align: center;
  height: inherit;
  width: inherit;
  border-radius: 50%;
  border: 3px solid white;
  box-sizing: border-box;
  background-color: #9eb1bb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3 {
    margin: 0 0 0 6px;
    font-size: 26px;
  }
  p {
    margin: 0 0 0 6px;
    font-size: 18px;
  }
}


.why-tabs {
  list-style: none;
  box-sizing: border-box;
  width: 45%;
  margin: -16px 0 -20px 0;
  padding: 0;
}

.why-btn {
  margin: 0 0 4px -30px;
  padding: 0 40px;
  border-top: 5px solid white;
  border-bottom: 5px solid #6e959f;
  box-shadow: 0 0 0 4px black;
  height: 90px;
  box-sizing: border-box;
  background-color: #cee1e6;
  font-family: '04b_03', monospace;
  font-size: 24px;
  vertical-align: middle;
  line-height: 80px;
  text-align: left;
}

.why-active {
  @extend .why-btn;
  box-shadow: 0 4px 0 0 black;
  border: 5px solid white;
  background-color: white;
}

.last-btn {
  @extend .why-btn;
  border-bottom: 10px solid #6e959f;
  margin: 0 0 0 -30px;
  box-shadow: 2px -2px 0 2px black;

}

.last-active {
  @extend .why-active;
  margin: 0 0 0 -30px;
  border-bottom: 10px solid #b5b5b5;
  box-shadow: none;
}


//************************************

.modal-footer {
  font-family: '04b_03', monospace;
  margin: 0;
  background-color: white;
  // TODO: ^^^Can this be white & make the info text have the full width/height bg color?
  // TODO: also - HOW TO DO SPLIT COLOR [ a || b ]
  // padding: 20px;

  min-height: 200px;
  border-bottom: 10px solid #b5b5b5;
  // TODO: Use darken/lighten for bottom border shadow? Browser compatibility?
}

#market-footer {
  min-height: 50px;
}

.more-info-text {
  background-color: #e0e0e0;
  padding: 20px;
  h3, p {
    margin: 10px;
  }
  margin: -10px;
  height: 160px;
}

#tokens-footer {
  border-bottom: none;
  text-transform: uppercase;
  min-height: 150px;
  font-kerning: none;
  table {
    width: 680px;
    margin: 0 -10px;
    padding: 0;
    border-spacing: 0;
    border-left: 10px solid #ef5e5e;
    border-right: 10px solid #24b3c9;
    tr {
      vertical-align: top;
      width: 100%;
      td {
        width: 50%;
        margin: -10px;
        h1, h2 {
          color: white;
          margin: 0;
        }
        p {
          margin: 5px;
        }
      }
    }
  }
  .popup-outer-wrapper .popup-inner-wrapper::before {
    border-top: 10px solid #b75554;
  }
  .popup-outer-wrapper .popup-inner-wrapper::after {
    border-top: 10px solid #1b8899;
  }

}

#phase-1 {
  background-color: #ef5e5e;
  border-bottom: 10px solid #b75554;
  padding: 15px 30px 30px 20px;
  p {
    color: #912f2d;
  }
  h1 {
    font-size: 50px;
  }
}

#phase-2 {
  background-color: #24b3c9;
  border-bottom: 10px solid #1b8899;
  padding: 15px 20px 30px 30px;

  p {
    color: #164f68;
  }
  h2 {
    font-size: 30px;
  }

}

#problem-solution-footer,
#distribution-footer, #projections-footer {
  min-height: 40px;
}

#roadmap-footer {
  background-color: #0e96d5;
  border-bottom: 10px solid #0b72a2;
  margin: 0 -10px;
  color: white;
  text-align: left;
  padding: 3% 10%;
  h2 {
    font-size: 26px;
  }
  p {
    font-size: 18px;
  }
}

#why-now-footer {
  min-height: 0;
  border-bottom: none;
}
