#kinguin-logo {
  height: 58px;
}

.burger {
  text-align: right;
  float: right;
}

.nav-x {
  @extend .burger;
  display: none;
  width: 27px;
  height: 27px;
}

.bg-white {
  background-color: rgba(255, 255, 255, .5);
  background-attachment: fixed;
}

header {
  height: 80px;
  font-family: '04b_03', monospace;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  margin: auto;
  h1 {
    width: 100%;
    margin: 10px;
    font-size: 20px;
    line-height: 58px;
  }
}

.full-nav {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 999;
  ul {
    font-family: '04b_03', monospace;
    list-style: none;
    text-transform: uppercase;
    text-align: center;
    margin: 2%;
    a {
      text-decoration: none;
      max-width: 50%;
    }
    li {
      max-width: 50%;
      margin: auto;
      line-height: 2em;
      cursor: pointer;
      color: #181818;
      &:hover {
        font-weight: bold;
        color: black;
      }
    }
  }
}
