#kinguin-logo {
  margin-left: 20vw;
  height: 58px;

}

.burger {
  margin-right: 2vw;
  text-align: right;
}

.nav-x {
  @extend .burger;
  display: none;
  width: 27px;
  height: 27px;
}

.bg-white {
  background-color: rgba(255, 255, 255, .5);
}

header {
  height: 80px;
  font-family: '04b_03', monospace;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  h1 {
    margin: 10px;
    font-size: 20px;
    line-height: 58px;
    width: 75%;
  }
}

.full-nav {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 999;
  ul {
    font-family: '04b_03', monospace;
    list-style: none;
    text-transform: uppercase;
    text-align: center;
    margin: 2%;
    li {
      line-height: 2em;
      cursor: pointer;
      color: #181818;
      &:hover {
        font-weight: bold;
        color: black;
      }
    }
  }
}
