
.signup-corners::before, .signup-corners::after{
  border-bottom: 10px solid #c8dfdc;
}

//signup header?
.signup {
  background-color: #9ac4bf;
  border-top: 10px solid #c8dfdc;
  h1 {
    color: black;
  }
}

.signup-body {
  font-family: 'EightBitWonder', monospace;
  form {
    input::placeholder {
      font-family: 'EightBitWonder', monospace;
      font-size: 15px;
      text-align: center;
      color: #9ac4bf;
    }
  }
  h2 {
    font-family: '04b_03', monospace;
    font-size: 20px;
    width: 75%;
    margin: 5% auto;
    height: 5em;

  }
}

.currency-form {
  height: 200px;
  margin: 0 10%;
  .selector-buttons {
    width: 60%;
    margin: 0 20%;
  }
  h2 {
    display: inline-block;
    width: 100%;
  }
  input {
    width: 100%;
    text-align: center;
  }
  .input-wrapper {
    width: 100%;
    margin: 25px 0px;
  }
  .pixel-input {
    padding: 5px 30px;
  }

  .active {
    background-color: #ef5e5e;

  }
  .inactive {
    background-color: #d9d9d9;
  }

  #BTC-select, #USD-select {
    width: 50%;
    border-right: none;
    &::after {
      background-color: transparent;
    }
    .pixel-input {
      padding: 0;
      margin-right: -5px;
      background-color: inherit;
      height: 60px;
      &::after {
        background-color: transparent;
      }
      button {
        height: 60px;
        width: 100%;
        background-color: inherit;
      }
    }
  }
  #ETH-select, #EUR-select {
    width: 50%;
    &::before {
      background-color: transparent;
    }
    .pixel-input {
      padding: 0;
      background-color: inherit;
      height: 60px;
      margin-left: -5px;
      &::before {
        background-color: transparent;
      }
      button {
        height: 60px;
        width: 100%;
        background-color: inherit;
      }
    }
  }
  .currency-amt {
    width: 90%;
    margin: 0 5%;
  }
}

#signup-form {
  .input-wrapper {
    width: 70%;
    margin: 3% 15%;
  }
  input::placeholder {
    font-family: 'EightBitWonder', monospace;
    font-size: 15px;
    text-align: left;
    color: #9c9b9b;
  }
}
//buttons
#signup-button-crypto {
  @extend .red-btn;
  margin: 2% 2% 0% 8%;
  a {
    min-height: 180px;
  }
}

#signup-button-fiat {
  @extend .red-btn;
  margin: 2% 8% 0% 2%;
  a {
    min-height: 180px;
  }
}

#investor-button-private {
  @extend .red-btn;
  margin: 2% 2% 2% 8%;
  a {
    padding: 10px;
  }
}
#investor-button-company {
  @extend .red-btn;
  margin: 2% 8% 2% 2%;
  a {
    padding: 10px;
  }
}
#kyc-continue, #crypto-continue, #fiat-continue {
  @extend .red-btn;
  a {
    font-family: 'EightBitWonder', monospace;
    font-size: 15px;
    text-align: center;
    padding: 15px;
  }
}

// TODO: make this a class for consistent continue buttons
#crypto-continue, #fiat-continue {
  width: 70%;
  margin: 10% 15%;
}

#signup-footer {
  overflow: auto;
}

#progress-bar {
  width: 70%;
  margin: 5% 15%;
}
