.signup-corners::before, .signup-corners::after{
  border-bottom: 10px solid #c8dfdc;
}

//signup header?
.signup {
  background-color: #9ac4bf;
  border-top: 10px solid #c8dfdc;
  h1 {
    color: black;
  }
}

.signup-body {
  font-family: 'EightBitWonder', monospace;
  overflow: auto;
  form {
    h4 {
      font-family: 'EightBitWonder', monospace;
      font-size: 20px;
      display: inline-block;
      width: 100%;
      text-align: center;
      margin-top: 10%;
    }
    input::placeholder {
      font-family: 'EightBitWonder', monospace;
      font-size: 15px;
      text-align: center;
      color: #9ac4bf;
    }
  }
  h2 {
    font-family: '04b_03', monospace;
    font-size: 20px;
    width: 75%;
    margin: 5% auto;
    height: 5em;
  }
  h3 {
    font-family: 'EightBitWonder', monospace;
    font-size: 20px;
  }

}

.currency-form {
  height: 200px;
  margin: 0 10%;
  .selector-buttons {
    width: 60%;
    margin: 0 20%;
  }
  h2 {
    display: inline-block;
    width: 100%;
    font-family: 'EightBitWonder', monospace;
    font-size: 20px;
  }
  input {
    width: 100%;
    text-align: center;
  }
  .pixel-input {
    padding: 10px 30px;
  }

  .active {
    background-color: #ef5e5e;

  }
  .inactive {
    background-color: #d9d9d9;
  }

  #BTC-select, #USD-select {
    width: 50%;
    border-right: none;
    &::after {
      background-color: transparent;
    }
    .pixel-input {
      padding: 0;
      margin-right: -5px;
      background-color: inherit;
      height: 60px;
      &::after {
        background-color: transparent;
      }
      button {
        height: 60px;
        width: 100%;
        background-color: inherit;
      }
    }
  }
  #ETH-select, #EUR-select {
    width: 50%;
    &::before {
      background-color: transparent;
    }
    .pixel-input {
      padding: 0;
      background-color: inherit;
      height: 60px;
      margin-left: -5px;
      &::before {
        background-color: transparent;
      }
      button {
        height: 60px;
        width: 100%;
        background-color: inherit;
      }
    }
  }
  .currency-amt {
    width: 90%;
    margin: 0 5%;
  }
}

#bank-info-form {

  .continue-btn {
    margin: 20% 0 0 0;
    width: 100%;
    a {
      padding: 10px;
    }
  }
  margin: 5% 15%;
  min-height: 200px;
  label {
    font-family: '04b_03', monospace;
    font-size: 15px;
    margin: 20px 0 0 10px;
    width: 100%;
    display: inline-block;
  }
  .bank-input {
    margin: 3% 0;
    width: 70%;
    float: left;
    .pixel-input {
      height: 40px;
      input {
        height: 40px;
        &::placeholder {
          font-family: 'EightBitWonder', monospace;
          font-size: 15px;
          text-align: left;
          color: #9c9b9b;
          padding: 20px;
          height: 40px;
        }
      }
    }
  }
  .copy-sm {
    width: 25%;
    float: right;
    margin: 3% 0;
    @extend .blue-btn;
    a{
      padding: 10px;
      text-align: center;
    }
  }

}

#signup-form, #personal-data-form,
#company-data-form, #funding-form {
  #btc-fund-continue,
  #eth-fund-continue  {
    margin-top: 25%;
  }
  #aml-continue, #aml-eth-continue, #aml-btc-continue{
    margin-top: 10%;
  }
  #btc-fund::placeholder,
  #eth-fund::placeholder {
    text-align: center;
  }
  .input-wrapper {
    width: 70%;
    margin: 3% 15%;
  }
  input::placeholder {
    font-family: 'EightBitWonder', monospace;
    font-size: 15px;
    text-align: left;
    color: #9c9b9b;
  }
  input {
    height: 50px;
  }
  select {
    height: 50px;
    background: transparent;
    border: none;
    font-family: 'EightBitWonder', monospace;
    font-size: 15px;
    text-align: left;
    color: #9c9b9b;
    width: 100%;
    &:focus {
      font-family: 'EightBitWonder', monospace;
      font-size: 15px;
      width: 100%;
    }
  }

.up-left{
  margin: 3% 0% 3% 15%;
}

.up-right {
  margin: 3% 0% 3% 2%;
}

.file-upload{
  width: 34%;
  font-family: 'EightBitWonder', monospace;
  label {
    text-align: center;
  }
  color: #9c9b9b;
  .pixel-input {
    height: 120px;
  }
  img {
    width: 40%;
    margin: 7% 30%;
  }
  p {
    margin: 0;
  }
}

  #kyc-continue {
    @extend .red-btn;
    width: 70%;
    margin-top: 10%;
    a {
      font-family: 'EightBitWonder', monospace;
      font-size: 15px;
      text-align: center;
      padding: 15px;
    }
  }
}


//buttons
#signup-button-crypto {
  @extend .red-btn;
  margin: 2% 2% 0% 8%;
  a {
    min-height: 180px;
  }
}

#signup-button-fiat {
  @extend .red-btn;
  margin: 2% 8% 0% 2%;
  a {
    min-height: 180px;
  }
}

#investor-button-private {
  @extend .red-btn;
  margin: 2% 2% 2% 8%;
  a {
    padding: 10px;
  }
}
#investor-button-company {
  @extend .red-btn;
  margin: 2% 8% 2% 2%;
  a {
    padding: 10px;
  }
}


.continue-btn {
  @extend .red-btn;
  margin: 10% 5%;
  width: 90%;
  .pixel-input {
    padding: 0;
  }
 a {
    font-family: 'EightBitWonder', monospace;
    font-size: 15px;
    text-align: center;
    padding: 15px;
  }
}



// TODO: make this a class for consistent continue buttons


#signup-footer {
  overflow: auto;
}

#progress-bar {
  width: 70%;
  margin: 5% 15%;
}
