html, body {
  // background: linear-gradient(#b5e8eb, #39bec5);
  background-color: #b5e8eb;
  height: 100%;
  background-repeat: no-repeat;
}

.islands {
  position: absolute;
  img, div, a div {
    position: absolute;
    background-repeat: no-repeat;
  }
}
