html {
  height: 100%;
}

body {
  background: linear-gradient(#ff99b3, #ffe27d);
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.islands {
  position: absolute;
  img, div, a div {
    position: absolute;
    background-repeat: no-repeat;
  }
}

#stairs-top {
  top: 277px;
  left: 394px;
}
#stairs-top-2 {
  top: 345px;
  left: 95px;
}
#stairs-mid {
  top: 384px;
  left: 399px
}
#stairs-end {
  top: 161px;
  left: -359px;
}

#end-connector {
  top: 415px;
  left: 280px;
}

#info-stairs {
  top: 296px;
  left: 241px;
}

#cloud1 {
  top: -85px;
  left: -75px;
}

#cloud2 {
  top: 476px;
  left: -147px;
}

#cloud3 {
  top: 315px;
  left: 584px;
}

#cloud4 {
  top: 416px;
  left: 172px;
}

#tiny-cloud {
  top: -93px;
  left: 127px;
  height: 111px;
  width: auto;
}

#big-cloud {
  position: absolute;
  opacity: .5;
  background-image: url('img/cloud.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 330px;
  top: -150px;
  left: 630px;
}
