html {
  // height: 100%;
}

body {
  background: linear-gradient(#ff99b3, #ffe27d);
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
  padding: 0 20px;
  p {
    color: rgba(0, 0, 0, .25);
  }
}

.mobile-show {
  display: none;
}


.wrapper-island {
  margin: 160px 10%;
  width: fit-content;
  min-width: 80%;
}

.islands {
  position: relative;
  img, div, a div {
    position: absolute;
    background-repeat: no-repeat;
  }
}

.title-wrapper {

}
.titles {
  font-family: '04b_03', monospace;
  text-align: center;
  position: absolute;
  cursor: pointer;
  margin: 0;
}

#stairs-top {
  top: 277px;
  left: 394px;
}
#stairs-top-2 {
  top: 345px;
  left: 95px;
}
#stairs-mid {
  top: 384px;
  left: 399px
}
#stairs-end {
  top: 161px;
  left: -359px;
}

#end-connector {
  top: 415px;
  left: 280px;
}

#info-stairs {
  top: 296px;
  left: 241px;
}

#cloud1 {
  top: -85px;
  left: -75px;
}

#cloud2 {
  top: 476px;
  left: -147px;
}

#cloud3 {
  top: 315px;
  left: 584px;
}

#cloud4 {
  top: 416px;
  left: 172px;
}

#tiny-cloud {
  top: -93px;
  left: 127px;
  height: 111px;
  width: auto;
}

.awards-cloud {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  background-image: url('img/cloud.png');
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  top: 20px;
  left: 60vw;
  width: 180px;
  height: 120px;
  font-family: '04b_03', monospace;
  a {
    text-decoration: none;
    color: black;
    &:visited {
      color: black;
    }
    p {
      font-size: 10px;
      margin: 0;
    }
    h3 {
      font-size: 14px;
      margin: 0;
    }
    h1 {
      font-size: 24px;
      margin: 0;
    }
  }
  .coin {
    width: 20px;
    height: 20px;
    margin: -2px 5px -2px -5px;
  }


}

.spin-coin {
  transform: rotateY(360deg);
}
