#strategy-island {
  @extend .islands;
  top: 800px;
  left: 800px;
}

#strategy-a {
top: 184px;
left: 40px;
}

#strategy-b {
  top: 0px;
  left: 118px;
}

#distro {
  top: 90px;
  left: 439px;
}

#trees {
  top: 130px;
  left: 455px;
}

#problem-solution {
  background-image: url('img/Problem.png');
  top: -48px;
  left: 159px;
  width: 321px;
  height: 371px;
  transition: all .25s ease-in-out;
}

#problem-solution:hover {
  background-image: url('img/Problem_hover.png');
  top: -88px;
  left: 159px;
  width: 321px;
  height: 371px;
}

#roadmap {
  background-image: url('img/Roadmap.png');
  top: 183px;
  left: 39px;
  width: 241px;
  height: 186px;
}

#roadmap:hover {
  top: 196px;
  left: 19px;
}
