#strategy-island {
  @extend .islands;
  top: 799px;
  left: 787px;
  div {
    cursor: pointer;
  }
}

#strategy-a {
top: 184px;
left: 40px;
}

#strategy-b {
  top: 0px;
  left: 118px;
}

#distro {
  top: 90px;
  left: 439px;
}

#trees {
  top: 130px;
  left: 455px;
}

#problem-solution {
  background-image: url('img/Problem.png');
  top: -48px;
  left: 159px;
  width: 321px;
  height: 371px;
  transition: all .25s ease-in-out;
  &:hover {
    background-image: url('img/Problem_hover.png');
    top: -88px;
    left: 159px;
    width: 321px;
    height: 371px;
  }
  &::before {
    content: url('img/Problem_hover.png');
    width:0;
    height:0;
    visibility: hidden;
  }
}

#roadmap {
  background-image: url('img/Roadmap.png');
  top: 183px;
  left: 39px;
  width: 241px;
  height: 186px;
  transition: all .25s ease-in-out;
  &:hover {
    top: 196px;
    left: 19px;
  }
}

#roadmap2-popup {
  position: absolute;
  // top: 10vh;
  // left: 25vw;
  // width: 50vw;
}

#projections {
  background-image: url('img/Projections.png');
  top: 330px;
  left: 262px;
  width: 120px;
  height: 75px;

  &:hover {
    background-image: url('img/Projections_hover.png');
    top: 314px;
    left: 228px;
    width: 154px;
    height: 135px;
  }
  &::before {
    content: url('img/Projections_hover.png');
    width:0;
    height:0;
    visibility: hidden;
  }
}

#why-now {
  background-image: url('img/WhyNow.png');
  top: 208px;
  left: 331px;
  width: 219px;
  height: 134px;

  &:hover {
    background-image: url('img/WhyNow_hover.png');
    top: 202px;
    left: 331px;
    width: 219px;
    height: 140px;
  }
  &::before {
    content: url('img/WhyNow_hover.png');
    width:0;
    height:0;
    visibility: hidden;
  }
}

#distribution {
  background-image: url('img/Distribution.png');
  top: 110px;
  left: 504px;
  width: 83px;
  height: 55px;

  &:hover {
    background-image: url('img/Distribution_hover.png');
    top: 99px;
    left: 504px;
    width: 87px;
    height: 66px;
  }
  &::before {
    content: url('img/Distribution_hover.png');
    width:0;
    height:0;
    visibility: hidden;
  }
}
