#strategy-island {
  @extend .islands;
  top: 800px;
  left: 800px;
}

#strategy-a {
top: 184px;
left: 40px;
}

#strategy-b {
  top: 0px;
  left: 118px;
}

#distro {
  top: 90px;
  left: 439px;
}

#trees {
  top: 130px;
  left: 455px;
}

#problem-solution {
  background-image: url('img/Problem.png');
  top: -48px;
  left: 159px;
  width: 321px;
  height: 371px;
  transition: all .25s ease-in-out;
}

#problem-solution:hover {
  background-image: url('img/Problem_hover.png');
  top: -88px;
  left: 159px;
  width: 321px;
  height: 371px;
}

#roadmap {
  background-image: url('img/Roadmap.png');
  top: 183px;
  left: 39px;
  width: 241px;
  height: 186px;
  transition: all .25s ease-in-out;
}

#roadmap:hover {
  top: 196px;
  left: 19px;
}

#projections {
  background-image: url('img/Projections.png');
  top: 330px;
  left: 262px;
  width: 120px;
  height: 75px;
}

#projections:hover {
  background-image: url('img/Projections_hover.png');
  top: 314px;
  left: 228px;
  width: 154px;
  height: 135px;
}

#why-now {
  background-image: url('img/WhyNow.png');
  top: 208px;
  left: 331px;
  width: 219px;
  height: 134px;
}

#why-now:hover {
  background-image: url('img/WhyNow_hover.png');
  top: 202px;
  left: 331px;
  width: 219px;
  height: 140px;
}
